{% extends "layouts/layout.twig" %}

{% block content %}
	{% embed "modules/section/section.twig" with { modifiers: ['page', 'about'], title: title, content: post.content  } %}
		{% block content %}
			<h3 class="mod_section__title mod_section__title--main">{{ globals.project.title }}</h3>

			<div class="mod_section__abouttext">
				{% if globals.gulp %}
					{{ content }}
				{% else %}
					{{ content|wpautop }}
				{% endif %}
			</div>

			{% if link_contact %}
				{% include "modules/ctalink/ctalink.twig" with { link: link_contact, text: 'Kontakt', modifiers: ['about', 'aboutcontact'] } %}
			{% endif %}

			{% set image_mood = getFieldOfPost(post, 'image_mood') %}
			{% if image_mood %}
				<div class="mod_section__imagewrapper">
					<img src="{{ image_mood.url|getImageSize('full') }}" class="mod_section__image" alt="{{ image_mood.alt }}">
				</div>
			{% else %}
				<div class="mod_section__imagespacer"></div>
			{% endif %}

			{% if future_post %}
				<div class="mod_section__foot">
					<div class="mod_section__footinfo">Der nächste FIBI-Event findet am <time content="{{ future_post.post_date }}" datetime="{{ future_post.post_date }}">{{ future_post.post_date|date('j. F Y') }}</time> statt.</div>
					{% include "modules/ctalink/ctalink.twig" with { link: link_current, text: future_post.title, modifiers: ['about', 'aboutperma'] } %}
				</div>
			{% endif %}
		{% endblock %}
	{% endembed %}
{% endblock %}

{% block linedata %}
	<script type="text/javascript">
		fibi = fibi || {}; fibi.data = fibi.data || {};
		fibi.data.lineOptions = {
			routes: [{
				id: 'main',
				mq: {
					from: 'medium'
				},
				segments: [
					{
						element: 'body',
						offset: { x: 20, y: -60 }
					},{
						element: '.mod_section__title--main',
						offset: { x: -220, y: -60, anchor: 'top-right' }
					},{
						element: '.mod_section__abouttext',
						offset: { x: -120, y: 0 }
					},{
						element: '.mod_section__image',
						offset: { x: 60, y: -120 }
					},{
						element: '.mod_section__image',
						offset: { x: -120, y: 120, anchor: 'top-right' }
					},{
						element: '.mod_section__image',
						offset: { x: 240, y: 150, anchor: 'bottom-left' }
					},{
						element: '.mod_footer__homelink',
						offset: { x: -60, y: 50, anchor: 'top-left' }
					},{
						element: 'body',
						offset: { x: -120, y: 100, anchor: 'bottom-middle' }
					}
				]
			},{
				id: 'mobile',
				mq: {
					to: 'medium'
				},
				stroke: {
					strokeWidth: 30
				},
				segments: [
					{
						element: 'body',
						offset: { x: 20, y: -60 }
					},{
						element: '.mod_section__title',
						offset: { x: -80, y: 0, anchor: 'top-right' }
					},{
						element: '.mod_section__title',
						offset: { x: 60, y: 190, anchor: 'top-right' }
					},{
						element: '.mod_section__image',
						offset: { x: -40, y: 0, anchor: 'top-right' }
					},{
						element: '.mod_section__image',
						offset: { x: 60, y: -200, anchor: 'bottom-right' }
					},{
						element: '.mod_section__image',
						offset: { x: -20, y: 20, anchor: 'bottom-left' }
					},{
						element: 'body',
						offset: { x: -120, y: 100, anchor: 'bottom-middle' }
					}
				]
			}]
		};
	</script>
{% endblock %}
